$def with (name, resultados)
$code
  def imprimir(arreglo):
    lista = '['+', '.join(arreglo)+']'
    return lista

  def impimirPosTagged(arreglo):
    for elementoGrande in arreglo:
      sublista = []
      for (palabra, tipo) in elementoGrande:
        sublista.append(palabra+'->'+tipo)
    return imprimir(sublista)

  def impimirDiccionario(diccionario):
    cadena = ""
    for k, v in diccionario.iteritems():
      cadena += k+": "+",".join(v)+"   "
    return cadena

  def unir(arreglo):
    return ",".join(arreglo)

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Que hago?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le styles -->
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">

  <link href="/static/css/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./static/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./static/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./static/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="./static/ico/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="./static/ico/favicon.png">
</head>
<body>
  <div class="container">
    <h2>App</h2>
  <div class="container">
    Accedimos como usuario <strong>$name</strong>

    <a href="/app/login">Cambiar</a>
    <!-- Incluir encabezado -->

    <hr>

    <ul>
      <li><a class="btn" href="./listar_tweets?usuario=$name">Mostrar tweets</a></li>
      <li><a class="btn" href="./home_timeline?usuario=$name">Obtener home timeline</a></li>
      <li><a class="btn" href="./mostrar_home_timeline?usuario=$name">Mostrar home timeline</a></li>
      <li>
        <p>Buscar en twiiter: </p>
        <form action="./buscar" method="GET">
          <input type="hidden" name="usuario" value="$name">
          <input type="text" name="termino">
        <input type="submit" value="Buscar">
        </form>
      </li>
      <li><a class="btn" href="./mine_usertimeline?usuario=$name">Obtener tweets y almacenarlos</a></li>
      <li><a class="btn" href="./analizar_frecuencia?usuario=$name">Analizar frecuencia</a></li>
    </ul>

    <div id="info">
      <table>
        <thead>
          <tr>
            <th>Tweets</th>
            <th>Procesado</th>
          </tr>
        </thead>
        <tbody>
        $for (tweet, tweetProcesado) in resultados:
          <tr>
            <td>$tweet</td>
            <td><ul>
                $for k, v in tweetProcesado.iteritems():
                  <li>$k: $unir(v)</li>
                </ul>
            </td>
          </tr>
        </tbody>
       </table>
    </div>

    <div class="footer text-center">
    </div>

  </div> <!-- /container -->
<!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="/static/js/jquery.js"></script>

</body>
</html>

