$def with (sugerencias)
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Que hago?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">

    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/reveal.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<![endif]-->

<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="./static/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="./static/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="./static/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="./static/ico/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon" href="./static/ico/favicon.png">
</head>
<body>
    <div class="container">
        <h2>Accedimos como app</h2>

        <hr>
        <div>
            $ contador = 0
            $for (tweet, nes, peliculas) in sugerencias:
                <h3>$tweet</h3>
                <ul>
                    $for ne in nes:
                        <li>$ne</li>
                </ul>

                $for pelicula in peliculas:
                    $ imprimirLista = False
                    $ contador = contador + 1
                    <a href="#" class="btn btn-inverse" data-reveal-id="movieModal$contador">Ver Pelicula</a>
                    <div id="movieModal$contador" class="reveal-modal">
                        <h1>$pelicula["title"]</h1>
                    $if 'poster' in pelicula:
                        <img src="$pelicula['poster']['cover']" >
                    $if 'plot_simple' in pelicula:
                        <p>$pelicula['plot_simple']</p>
                    <a class="close-reveal-modal">&#215;</a>
                    </div>
        </div>
        <div class="footer text-center">
        </div>

    </div> <!-- /container -->
<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/jquery.reveal.js"></script>

</body>
</html>

