$def with (name)
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Que hago?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <link href="/static/css/reset.css" rel="stylesheet" type="text/css" />
    <script src="/static/js/modernizr.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lily+Script+One|Montserrat:400,700|Roboto:300,300italic,700' rel='stylesheet' type='text/css'>
    <link href="/static/css/index.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.rating.css" media="screen">

  </head>
  <body>
    <header id="headerContainer">
      <div id="header-bg">
        <div id="globalHeader">
          <button class="botones-recomendaciones" id="peliculas">Peliculas</button>
          <button class="botones-recomendaciones" id="musica">Musica</button>
          <button class="botones-recomendaciones" id="">CHAN!</button>
          <div id="social-links">
            <a href="https://twitter.com/KarlynGroup" target="_blank"><img src="/static/images/icon-twitter.jpg" width="24" height="24" alt="twitter" class="show"><img src="/static/images/icon-twitter-over.jpg" width="24" height="24" alt="twitter" class="hide"></a>
          </div>
          <nav id="globalNav">
            <ul>
              <li><a class="login_twitter" href="#">$name</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div id="top-teeth"></div>
    </header>
    <div class="profile" id="contenido">

<!--
<section id="exp-event">
  <header>
    <div class="row-container">
      <h2 style="background-image:url('/static/images/expertise-iconcolor-event.jpg');"><div class="diag-line"></div>6</h2>
      <h1>Saving private Ryan</h1>
      <div class="backtop">mala sugerencia</div>
      <div class="backtop">buena sugerencia</div>
    </div>
  </header>
  
  <div class="row-container">
    <div class="exp-bulbs2"></div>
    
    <div class="exp-contents">
      <p>Marketers continue to rate in-person events as the most effective tactic they use.* Even in our fast-paced, high-tech world, there is still something to be said for showing up.  And, when used in conjunction with a high-impact online campaign, a good old-fashioned live event can reap great rewards for your business.</p> 
      <p>Accelerate your marketing efforts by getting in front of multiple key prospects at once. Whether you’re hosting a product launch, in-person training, awards ceremony or conference, the Karlyn Group can produce your event—and reach your target audience.</p> 
      <p>We can define your audience, create the overall theme, book the space, negotiate contracts, create the collateral, manage the attendee marketing campaign, telemarket, sell sponsorships, and handle post-event marketing and follow up. Did we forget anything? – If you’d like us to stuff gift bags, we’re good at that, too. We will also provide you with an overall post-event analysis.</p>
      
      <div class="box-btn" style="border-color: rgb(55, 66, 70); background-color: rgb(253, 196, 21);">
        <a href="fearless.php">
        <div class="box-btn-txt" style="color: rgb(55, 66, 70);">Check out some of our prior events</div>
        <div class="box-icon" style="border-color: rgb(55, 66, 70);">
          <img src="/static/images/icon-star@2x.png" width="27" height="26" alt="star" class="show" style="top: 10px; opacity: 1;">
          <img src="/static/images/icon-star-over@2x.png" width="27" height="26" alt="star" class="hide" style="top: 10px; opacity: 0;">
        </div>
        </a>
      </div>
        
    </div>
  </div>

</section>
-->

    </div>

<!-- Clients Area -->

<section id="home-clients">

<div id="brown-teeth"></div>  

</section>





<!-- Contact Area -->

<section id="footer-contact">
  <div id="credits">Design by: <a href="http://www.griflan.com" target="_blank">Griflan</a></div>
</section>



<!-- VIEJO 
  <div class="container">
    $if name:
    Mi usuario es $name

    <a href="/logout">Logout</a>


    <hr>

    <div id="info">

      <pre>

      </pre>
    </div>
    <ul>
      <li><a href="./mine_usertimeline">Obtener tweets de $name</a></li>
      <li><a href="./analizar_frecuencia">Analizar frecuencia</a></li>
    </ul>

    <div class="footer text-center">
    </div>

  </div>
  -->

<script type="text/javascript">
var topH = 500;
</script>

<script type="text/javascript">var isMobile = false;</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/static/js/TweenMax.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.gsap.min.js" type="text/javascript"></script>
<script src="/static/js/karlyn.js"></script>
<script src="/static/js/quehago.js"></script>
<!-- <script src="star-rating/jquery.js" type="text/javascript"></script> -->
<script src="/static/js/jquery.rating.js" type="text/javascript"></script>
<script src="/static/js/jquery.rating.pack.js" type="text/javascript"></script>
<script src="/static/js/jquery.form.js" type="text/javascript"></script>
<script src="/static/js/jquery.MetaData.js" type="text/javascript"></script>

</body>
</html>

